@import url(/styles/banner.css);
@import url(/styles/servicos.css);
@import url(/styles/faixas.css);
@import url(/styles/marcas.css);
@import url(/styles/mapa.css);
@import url(/styles/rodape.css);

:root {
    --cor-azul-escuro: #3c184e;
    --cor-branco: #fff;
    --cor-sombra: #1f26875e;
    --cor-sombra-imagem: #0000005c;
    --cor-transparencia: #ffffffc4;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f8ff;

}



