.faixas {
    padding:  120px 80px;
    background-color: var(--cor-azul-escuro);
    text-align: center;

}


.faixas p {
    max-width: 800px;
    margin: 0 auto 50px;
    font-size: 40px;
    color: var(--cor-branco);
    text-align: center;

}

.faixas-destaque {
    font-weight: bold;
    font-style: italic;

}

.icones-container a{
    margin: 0 20px;
    text-decoration: none;
}
.faixas-icones {
    width: 50px;
    height: 50px;

}